header {
    text-align: center;
    background-color: rgb(18, 109, 0);
    position: relative;
    color: white;
    padding: 10px;
    
}

body {
    background-color: rgb(61, 153, 184);
    margin: 0;
}

footer {
    position: left -5%;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(18, 109, 0);
    color: white;
    text-align: center;
    padding-top: 15px;
}