a {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

header {
    text-align: center;
    background-color: rgb(73, 119, 64);
    position: relative;
    color: white;
    padding: 5px;
    font-size: 2vw;
}

.otherHeader {
    text-align: center;
    background-color: rgb(46, 82, 39);
    position: relative;
    padding: 0.75px;
    font-size: 1.5vmax;
}

body {
    background-color: rgb(61, 153, 184);
    margin: 0;
}

footer {
    position: left -5%;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(18, 109, 0);
    color: white;
    text-align: center;
    padding-top: 15px;
}