header {
    position: relative;
    left: 5%;
    color: white;
}

body {
    background-color: rgb(61, 153, 184);
}

footer {
    position: left -5%;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(18, 109, 0);
    color: white;
    text-align: center;
    padding-top: 15px;
}